
#gridContainer .square {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(34, 237, 244);
}
#gridContainer .squareRow {
  margin: 0;
  padding: 0;
  height: 30px;
}
.toggled {
  background-color: rgb(212, 55, 55) !important;
}
