.jumbotron {
  padding-top: 30px;
}
.controls {
  width: 60%;
  margin: 0 auto;
}
#gridContainer {
  width: 480px;
  margin: 0 auto;
}
#gridContainer .square {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(34, 237, 244);
}
#gridContainer .squareRow {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 480px;
}
.toggled {
}
label,input, #inWidth, #inHeight {
  display: inline;
}
#inWidth, #inHeight {
  width: 60px;
}
